.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md) 0;
  height: 100%;

  &>*:not(.chart) {
    padding: 0 var(--spacing-md);
  }

  .balance {
    height: 60px;
  }

  .chart {
    height: 200px;
  }

  .bots {
    height: 225px;
  }
}
