* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Open Sans", sans-serif;
}

:root {
  --color-background: #112135;
  --color-primary: #1b293e;
  --color-secondary: #0083eb;
  --color-accent: #89c5f1;
  --color-highlight: #fb9819;
  --color-positive: #5ea853;
  --color-negative: #f2427e;
  --color-text-primary: #ffffff;
  --color-text-secondary: #4d6078;

  --font-size-title: 34px;
  --font-size-subtitle: 18px;
  --font-size-body: 14px;
  --font-size-small: 12px;
  --font-size-tiny: 8px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --spacing-base: 8px;
  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 3);

}
