.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  color: var(--color-text-secondary);

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-bold);
  }
}
